@import url(style.css);

#cart-container{
    padding: 20px 0;
}

.cart-total-container{
    padding: 0 0 10px 20px;
    color: var( --dsc-color-secondary-font)
}

.cart-total-container #total {
    text-align: right;
    font-size: 20px;
    color: var(--dsc-color-primary-font);
}

.cart-item-container {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.cart-item-container img {
    width: 80px;
    height: 80px;
}

.cart-item-left{
    display: flex;
}

.cart-item-right {
    font-size: 16px;
    font-weight: 700;
    color: var(--dsc-color-secondary-font);
}

.cart-item-quantity-container {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
}

.cart-item-quantity-container p {
    margin: 0 5px;
}

.cart-item-description {
    color: #000000;
}

.cart-item-description h3 {
    color: var(--dsc-color-primary-font);
    font-size: 16px;
    padding: 0 0 0 15px;
}

.cart-item-quantity-btn {
    color: var(--dsc-color-primary-font);
    cursor: pointer;
}

