@import url(style.css);

#cart-container-section{
    padding: 20px 0;
}

.dsc-cart-total-container{
    padding: 0 0 10px 20px;
    color: var( --dsc-color-secondary-font)
}

.dsc-cart-total-container #total {
    text-align: left;
    font-size: 20px;
    color: var(--dsc-color-primary-font);
}

.dsc-cart-item-container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    
}

.dsc-cart-item-container img {
    width: 80px;
    height: 80px;
}

.dsc-cart-item-left{
    display: flex;
}

.dsc-cart-item-right {
    font-size: 16px;
    font-weight: 700;
    color: var(--dsc-color-secondary-font);
    padding: 5px;
}

.dsc-cart-item-quantity-container {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
}

.dsc-cart-item-quantity-container p {
    margin: 0 5px;
}

.dsc-cart-item-description {
    color: #000000;
}

.dsc-cart-item-description h3 {
    color: var(--dsc-color-primary-font);
    font-size: 16px;
    padding: 0 0 0 15px;
}

.dsc-cart-item-quantity-btn {
    color: var(--dsc-color-primary-font);
    cursor: pointer;
}

@media(min-width: 576px) {
    .dsc-cart-item-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .dsc-cart-item-right {
        padding: 0;
    }

    
}
