@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {

    --dsc-color-bg-primary: #bbbbbb57;
    --dsc-color-bg-secondary: #ff6600;

    --dsc-color-card-bg: #f3f3f3;
    --dsc-color-card-border: #a8a8a8;

    --dsc-color-btn-primary: #002fff;
    --dsc-color-btn-inverse: #002fff;
    
    --dsc-color-primary-font: #ff6600;
    --dsc-color-secondary-font: #0caf10;
    --dsc-color-ternary-font: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--dsc-color-bg-primary); 
}

main {
    padding: 0 20px;
}


/*
-------------------------------------------------------------
                    GENERIC STYLES
-------------------------------------------------------------
*/

.dsc-container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.dsc-mb20 {
    margin-bottom: 20px;
}

.dsc-mt20 {
    margin-top: 20px;
}

/*
-------------------------------------------------------------
                    HEADER STYLES
-------------------------------------------------------------
*/

header {
    background-color: var(--dsc-color-bg-secondary);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav{
    color: var(--dsc-color-ternary-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.dsc-container #entrar {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--dsc-color-btn-primary);
    padding: 8px;
    border-radius: 5px;
}

/*
-------------------------------------------------------------
                    CARD STYLES
-------------------------------------------------------------
*/

.dsc-card {
    border: 1px solid var(--dsc-color-card-border);
    border-radius: 4px;
    background-color: var( --dsc-color-card-bg);
}


.dsc-line-bottom {
     border-bottom: 1px solid var(--dsc-color-card-border);
}

/*
-------------------------------------------------------------
                    BUTTON STYLES
-------------------------------------------------------------
*/

.dsc-btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dsc-color-ternary-font);
}

.dsc-btn-page-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 576px) {
    .dsc-btn-page-container {
    width: 270px;
    }

}

.dsc-btn-orange{
    background-color: var(--dsc-color-btn-primary);
}

.dsc-btn-white {
    border: 1px solid var(--dsc-color-btn-inverse);
    color: var(--dsc-color-btn-inverse);
}

.dsc-btn-nextpage {
    border: 1px solid var(--dsc-color-btn-primary);
    padding: 10px;
    color: var(--dsc-color-btn-primary);
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}



